



<div class="card">
<div class="card-header">
    <strong>Project</strong>
  </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>University
                <i class="fa fa-sort-alpha-asc" style="cursor: pointer;"  ></i>
                    <i class="fa fa-sort-alpha-desc" style="cursor: pointer;"></i>
              </th>
              <th>Short Name</th>
              <th>Address</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- {{DataList | json}} -->
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td> 

              </td>
              <td>
                <a class="btn btn-ghost-warning" data-bs-toggle="modal"
                  data-bs-target="#exampleModal"><i class="fa fa-pencil-square-o"></i></a>
                <a class="btn btn-ghost-danger" ><i class="fa fa-trash"></i></a>
              </td>
            </tr>

          </tbody>
        </table>
        <div class="col-md-12">
          
        </div>
      </div>

        </div>
    </div>
</div>